/* ! Base Style */

.normal_text{ font-size: 20px; }
.medium_text{ font-size: 25px; }

.body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main";
    height: 100vh;
    background-color: rgb(64, 63, 63);
}

.navbar {
    grid-area: "header";
    height: 80px;
    background-color: white;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
}

.navbar .logo{ grid-column: 1/2; height: 80px; margin: 0 20px; display: flex; align-items: center;}

.navbar .logo img{height: 90%; }
.navbar .logo h2{ font-size: 20px;}

.searchBar-text {
    grid-column: 2/3;
    width: 70%;
    padding: 15px;
    margin: 0 5%;
    font-size: 15px;
    border: 2px solid black;
    outline: none;
}

.main {
    grid-area: "main";
    display: grid;
    grid-template-columns: 3fr 1fr;
    overflow:auto;
}

.posts {
    grid-column: 1/2;
}

.lateralBar {
    grid-column: 2/3;
    
}

.categoryBar, .subbredditsBar {
    min-height: 300px;
    padding: 30px;
    background-color: white;
    border-bottom: 2px solid black;
}

.categoryBar ul { padding: 15px 10px; }
.categoryBar ul li{ padding: 5px 0 }

.subbredditsBar ul { padding: 15px 10px; }
.subbredditsBar ul li{ padding: 5px 0 }

.postComp {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: 11fr 1fr;
    min-height: 150px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
}

.postComp-lateral{ grid-area: 1/1/3/2; padding: 15px 5px; display: flex; flex-direction: column; align-items: center;}
.postComp-lateral .arrow_top{ height: 30px; }
.postComp-lateral .arrow_bottom{ height: 30px; transform: rotate(-180deg);}
.postComp-lateral .lateral_number { padding: 10px 0;}

.postComp-main{ grid-area: 1/2/2/3; padding: 20px; display: flex; flex-direction: column;}
.postComp-main img { padding-top: 20px; height: 400px; align-self: center;}

.postComp-baseline{ grid-area: 2/2/3/3; border-top: 2px solid lightgray; display: flex; padding: 0 40px; justify-content: space-between; align-items: center;} 