/* ! Base Style */
.small_text{ font-size: 14px; }
.normal_text{ font-size: 20px; }
.medium_text{ font-size: 25px; }

.body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    width: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main";
    height: 100vh;
    background-color: rgb(64, 63, 63);
}

.navbar {
    grid-area: "header";
    height: 80px;
    background-color: white;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
}

.navbar .logo{ grid-column: 1/2; height: 80px; margin: 0 20px; display: flex; align-items: center;}

.navbar .logo img{height: 90%; }
.navbar .logo h2{ font-size: 20px;}

.searchBar-text {
    width: 70%;
    padding: 15px;
    margin: 0 5%;
    font-size: 15px;
    border: 2px solid black;
    outline: none;
}
.searchBar-button{
    border: 2px solid black;
    background-color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.main {
    grid-area: "main";
    display: grid;
    grid-template-columns: 3fr 1fr;
    overflow: auto;
}

.posts {
    grid-column: 1/2;
    margin: 20px;
    margin-right: 0;
}

.lateralBar {
    grid-column: 2/3;
    margin: 20px;
    
}

.subbredditsBar {
    min-height: 300px;
    padding: 30px;
    background-color: white;
    border-bottom: 2px solid black;
}

.subbredditsBar ul { padding: 15px 10px; }
.subbredditsBar ul li{ padding: 5px 0; }
.subbredditsBar ul li button{
    height: 50px;
    width: 70%; 
    background-color: white;
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
.subbredditsBar ul li button img{
    height: 40px;
    max-width: 100px;
    margin-right: 30px;
}

.postComp {
    display: grid;
    grid-template-columns: 1fr 11fr;
    min-height: 250px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.postComp-lateral{ grid-area: 1/1/3/2; padding: 15px 5px; display: flex; flex-direction: column; align-items: center;}
.postComp-lateral .arrow_top{ height: 30px; }
.postComp-lateral .arrow_bottom{ height: 30px; transform: rotate(-180deg);}
.postComp-lateral .lateral_number { padding: 10px 0;}

.postComp-main{ grid-area: 1/2/2/3; padding: 20px; display: flex; flex-direction: column;}
.postComp-main h2 { margin-bottom: 20px;}
.postComp-main .postComp-main_img {align-self: center;}
.postComp-main .postComp-main_img img { height: 400px;}
.postComp-main .img_notPresent {display: none;}

.postComp-baseline{ 
    grid-area: 2/2/3/3; 
    border-top: 2px solid lightgray; 
    display: flex; padding: 10px 40px; 
    justify-content: space-between; 
    align-items: center; 
    align-self:flex-end;
} 

.error{
    grid-column: 1/2;
    height: 250px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error h2{ margin-bottom: 15px; }

.error button{ padding: 10px; background-color: white; border: 3px solid black;}

