.body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main";
    height: 100vh;
    background-color: grey;
}

.Navbar {
    grid-area: "header";
    border: 1px solid red;
    height: 80px;
    background-color: black;
}

.main {
    grid-area: "main";
    border: 1px solid green;
}